<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/student_dashboard.css">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
	<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
    <title>
      Dashboard
    </title>
  </head>
  <body>   
    <div id="allPanels" class="container-fluid">
      <div id="welcomePanel" class="row">
        <div class="col-12 d-flex justify-content-center">
          <img src="/img/welcome.jpeg" alt="page logo">
        </div>
      </div>
      <div class="row">
        <!-- Breadcrumbs -->
        <div class="col-12" id="breadcrumbs">
          <a href="/logout" rel="noopener noreferrer nofollow">Logout</a>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-8 mt-1" id="enrolledCourses">
          <div>
            <h2>Enrolled courses</h2>
			
            <div id="studentCourses" class="list-group">
				<% for(let course of enrolled) { %> 
					<a href="/student/courses/<%=course._id%>" class="list-group-item list-group-item-action" rel="noopener noreferrer nofollow"><%= course.number %> - <%=course.name%></a>
				<%} %>
            </div>
          </div>
          <form id="enroll" action="student_enrollment.html">
            <a class="btn btn-primary mt-3" href="/student/enrollment">Enroll</a>
          </form>
        </div>
		
        <div class="col-12 col-lg-4 mt-1" id="assignmentsPanel">
		  
		  <div class="list-group col" id="assignments">
		  <h2>Assignments</h2>
		    <% for(let course of enrolled) {%>
              <a href="#collapse_<%=course._id%>" class="list-group-item list-group-item-action" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_<%=course._id%>" aria-expanded="false" aria-controls="#collapse_<%=course._id%>"><%=course.name%></a>
			  <div class="collapse" id="collapse_<%=course._id%>">
			    <div class="row mb-2 mt-2">
				  <% let total = 0; for(let lesson of course.lessons) { total += (lesson.assignments || []).length; } %>
			      <h2>Assignments (<%= total %>)</h2>
				  <ul class="list-group list-group-flush">
				    <% for(let [lessonIdx, lesson] of (course.lessons || []).entries()) {
					     for(let [assignmentIdx, assignment] of (lesson.assignments || []).entries()) { %>
							<li class="list-group-item">
								<a href="/student/submission/<%=course._id%>/<%=lesson._id%>/<%=assignment._id%>"><%=lesson.name%>_assignment_<%=assignmentIdx + 1%></a>
							</li>
							
					  <% } %>
					<% } %>
				  </ul>
			    </div>
			  </div>
		    <% } %>
		  </div>
        </div>
      </div>
    </div>

  </body>
</html>
