<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/student_submission.css">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <title>
      Assignment submission
    </title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div id="coursePanel" class="col-12 d-flex justify-content-center">
          <h1><%=course.name%></h1>
        </div>
      </div>
      <nav class="row">
        <!-- Breadcrumbs -->
        <div id="breadcrumbs" class="col-12">
          <a href="/logout">Logout</a>
          >
          <a href="/student/dashboard">Dashboard</a>
        </div>
      </nav>       
      <div id="assignment" class="row">
        <div id="assignmentLabel" class="col-12">
          <h2>Assignment</h2>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div id="assignmentDetails" class="col-9">
          <h2>Assignment Details</h2>
          <p><%=assignment.question%></p>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <form id="submissionForm" action="/student/submission" method="POST" 
          enctype="multipart/form-data" 
          class="col-9">
          <input type="hidden" name="studentId" value="<%=studentId%>" />
          <input type="hidden" name="courseId" value="<%=course._id%>" />
          <input type="hidden" name="lessonId" value="<%=lessonId%>" />
          <input type="hidden" name="assignmentId" value="<%=assignment._id%>" />
          <div id="submissionPanel">
            <label for="submissionTextArea">Submission text</label>
            <textarea class="form-control" id="submissionTextArea" name="answer"      rows="5"
              placeholder="Write your answer"
            ></textarea>
          </div>
          <div id="submissionControls">
            <input class="form-control" type="file" name="attachment" />
            <input class="btn btn-secondary" type="button" value="Save draft" />
            <input class="btn btn-primary" type="submit" value="Submit" />
          </div>
        </form>
      </div>
    </div>

    <script src="/js/common.js"></script>
    <!--<script src="/js/student_submission.js"></script>-->
  </body>
</html>